<li>
	<div class="msgInfo">
		<h2><%= title %></h2>
		<p><%= text %></p>
		<p class="date">
			Posted by <%= user %> <br />
			<%= added.toString().slice(0, 21) %>
		</p>
	</div>
	<% if(single){%>
		<a  id="detailsBtn"  href=<%= `/` %> ><button>Back</button></a>
	<%} else {%>
		<a  id="detailsBtn"  href=<%= `/messages/${msgId-1}` %> ><button>Open</button></a>
	<%}%>
</li>
